@{
}

@model IEnumerable<string>

<div class="dropdown">
    <button class="dropbtn"> Filter by Position Type:</button>
    <div class="dropdown-content">
        <a asp-controller ="Home" asp-action = "Employees" asp-route-positiontype = "" class="btn">All Employees</a>
        @foreach(string c in Model)
        {
            <a asp-controller ="Home" asp-action = "Employees" asp-route-positiontype = "@c"
               class= "btn @(ViewBag.SelectedType == c ? "btn-primary" : "btn-secondary")" style = "font-size: medium" > @c </a>
        }
    </div>
</div>
