@{
    ViewData["Title"] = "Delete Employee";
}

@model Project4.Models.Employee

<div class="text-center">
    <h1 class="display-4">Confirm Deletion</h1>
    <p>Are you sure you want to delete "<b>@Model.FirstName @Model.LastName</b>"?</p>
    <form method="post" asp-controller="Home" asp-action="Delete">
        <button class="btn btn-danger" type="submit">Delete</button>
        <button class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</button>

        <input type="hidden" asp-for="EmployeeId" />
    </form>
</div>