@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="background-image:url('../img/hero-image-_1_.jpg')">
        <br />
        <h1 class="display-4 justify-content-md-center" style="margin: 100px; color: white;">Welcome to the IS Department Employee Portal</h1>
        <br />
        <a class="btn btn-info" style="margin-bottom: 100px;" asp-area="" asp-controller="Home" asp-action="Employees"> Click Here to View Employees</a>
    </div>
</div>


<div class="w3-content" style="max-width: 1100px; margin: 50px;">
    <div class="w3-row w3-padding-64">      
        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center"> We are Committed to Creating a Happy and Diverse Work Environment</h1><br>
            <h5 class="w3-center">Centered On Students</h5>
                <p class="w3-large" style="margin: 25px;">We evaluate our decisions and actions by the impact they will have on the academic experience, professional preparation, character development, emotional well-being, and spiritual growth of our students.</p>
                <p class="w3-large w3-text-grey w3-hide-medium" style="margin: 25px;">
                    We value excellence in learning, teaching, research, management, and leadership. An expectation of excellence magnifies our influence and motivates us to continually improve.
                </p>
        </div>
    </div>
</div>

<div>
    <h5 class="w3-center">Featuring Dynamic Reporting</h5>
    <div class='tableauPlaceholder' id='viz1667804995536' style='position: relative'><noscript><a href='#'><img alt='Employee Dashboard (2) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;G9&#47;G99WK849D&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;G99WK849D' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;G9&#47;G99WK849D&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1667804995536');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1977px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</div>