@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="background-image:url('../img/hero-image-_1_.jpg')">
        <br />
        <h1 class="display-4 justify-content-md-center" style="margin: 100px; color: white;">Welcome to the IS Department Employee Portal</h1>
        <br />
        <a class="btn btn-info" style="margin-bottom: 100px;" asp-area="" asp-controller="Home" asp-action="Employees"> Click Here to View Employees</a>
    </div>
</div>


<div class="w3-content" style="max-width: 1100px; margin: 50px;">
    <div class="w3-row w3-padding-64">      
        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center"> We are Committed to Creating a Happy and Diverse Work Environment</h1><br>
            <h5 class="w3-center">Centered On Students</h5>
                <p class="w3-large" style="margin: 25px;">We evaluate our decisions and actions by the impact they will have on the academic experience, professional preparation, character development, emotional well-being, and spiritual growth of our students.</p>
                <p class="w3-large w3-text-grey w3-hide-medium" style="margin: 25px;">
                    We value excellence in learning, teaching, research, management, and leadership. An expectation of excellence magnifies our influence and motivates us to continually improve.
                </p>
        </div>
    </div>
</div>
